body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #264bf1;
    background: linear-gradient(to bottom right, #3b4bd3, #6866f8); 
    color: white;

}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

#home {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, textarea {
    margin-top: 0.5em;
    padding: 0.5em;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.navbar {
    background-color: #003366; /* Dark blue */
}
.navbar-brand, .nav-link {
    color: white !important;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-section p {
    font-size: 1.25rem;
}

.dropdown-item:hover {
    background-color:chocolate;
}
.dropdown-menu {
    padding: 0; /* Remove padding */
    margin: 0;   /* Remove margin */
    box-shadow: none; /* Remove the box-shadow if there's any */
  }
