@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: auto;
    margin: 0px;
    height: 100%;
    overflow: auto;
}

body {

    display:flex;
    justify-content:space-evenly;
    flex-direction: column;

    /* font-family: Arial, sans-serif;
    margin:auto;
    padding: 0px;
    height: 100%;
    min-height: 200vh;
    overflow:hidden;
    
    flex-wrap: wrap;
    flex-direction: column;
    columns: 1; */
    


}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    z-index: 10;
    text-align: center;
}
h1 {
   padding-left:10px;

}
footer {
    /* position:sticky;
    bottom: 0;
    left: 0;
    top:87%;
    width: 100%;
    height:12%;
    z-index: 2; */

}

footer p {
   color: white;
}


nav {
    height: 8%;

}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

#home {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input,
textarea {
    margin-top: 0.5em;
    padding: 0.5em;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #003366;
    /* Dark blue */
    color: white;
    text-align: start;
    padding: 10px 0;
    z-index: 1000;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.dropdown-item:hover {
    background-color: chocolate;
}

.dropdown-menu {
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    box-shadow: none;
    /* Remove the box-shadow if there's any */
}
#prev,
#next {
    position: absolute;
    top: 50%;
    color: rgb(238, 230, 230);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    background-color: rgba(228, 217, 230, 0.4);
    transition: all 0.5s;

}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev:hover,
#next:hover {
    opacity: 1;
    cursor: pointer;
    color:#333;
}

.caption {
    color:white;
    font-size:50px;
    position: absolute;
    top:8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
    margin: 3px;
}

.slider-container {
    /* padding: 0;
    bottom: 0;
    background-color: red;
    width: 100%; */
}

.slider-container1 {
   
    width: 100%; 
    max-width: 100%; 
    height: 550px;
    overflow: hidden; 
    position: relative
} 

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    display: block;
}
.icon-img img{

    width:300px;
    height:250px;
    padding-left: 2px;
}


.slide {
    display: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}

.bodybox {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5px;
}


.bodysub {
    display: flex;
    flex: 1;
    padding-left: 8px;;
    justify-content:space-evenly;
    justify-items: center;
    padding: 2px;;
}

.bodysub-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 50px;
}

.cardcontainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 50px;
    align-items: flex-end;
    position: relative;
}

.cardcontainer img {
    height: 50px;
    width: 50px;
}


.bg-biege {
    background-color: rgb(245, 245, 234);
}


.paragraph {
    flex: 1;
    font-size: 20px;
    padding: 5px;
    margin-top: 40px;
}
.bodysub-flex-row h1 {
    position:relative;
    top: -15px;
}

